<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!!!</title>
</head>
<body>
    <h1>Hello World!</h1>
    <ul>
        {% for order in orders %}
        <li>
            Order ID: {{ order.id }} 
            Customer: {{ order.customer.first_name }}
            <ul>
                {% for item in order.orderitem_set.all %}
                <li>Product: {{ item.product.title }} | Quantity: {{ item.quantity }} | Price: {{ item.unit_price }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>